 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 html {
  font-size: 62.5%;
 }

 body {
  background: rgb(3,0,31);
  color: white;
  font-family: 'Poppins', sans-serif;
 }

 .App {
  min-height: 100vh;
  display: flex;
 }

 .sidebar{
  flex: 3;
  border-right: 1px solid rgb(255, 255, 255);
 }

 .main {
  flex: 9;
 }

 .logo {
  margin-right: 1rem;
 }

 .brand {
  font-size: 2rem;

 }

 .upperside{
  padding: 2.5rem;
 }

 .uppersidetop{
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
 }


 .addbtn {
  height: 2rem;
  padding-right: 1rem;
 }

 .midbtn {
  background: rgb(4, 31, 90);
  color: white;
border: none;
padding: 1.5rem;
width: 25rem;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 3rem;
margin: 0 auto;
border-radius: 0.5rem;
 }

 .main{
  min-height: calc(100vh-14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
 }


 .chats{
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh-17rem);
 }

 .chat{
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;

 }
 .chatFooter{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
 }

 .inp {
  padding: 0.5rem;
  background: rgba(28,30,58,1);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
    width: 70rem;
 }

 .inp>input {
  width: calc(100%-3rem);
  outline: none;
  padding: 1.25rem;
  color: white;
 }

 .inp>input, .send{
  background: transparent;
  border: none;
 }